body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.navbar {
    background-color: #007bff;
}
.navbar-brand,
.nav-link {
    color: white;
}

.nav-item:hover .nav-link {
    color: black;
}

.dashboard-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.col-md-3 .dashboard-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-3 .dashboard-box i {
    margin-right: 20px;
    font-size: 30px;
}

.resident-table th,
.resident-table td {
    padding: 10px;
}
footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}
